@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
:root{
	--color-titulos:#2750d0;
	--color-contenido:#333;
	--color-naranja:#ff9f06;
	--color-azul:#2750d0;
	--fondo-footer:#091f5b;
}
header{
	background-color: #fff;
}
footer{
	background-color: var(--fondo-footer);
	color: #acbad4;
	padding: 30px 0;
	text-align: center;
	font-size: 13px;
}

.carousel-item{
	height: 500px;
}
.texto-services{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.titulo,u{
	text-align: center;
	color: #2750d0;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.titulo2{
	text-align: center;
	color: #ff9f06;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

h6{
	text-align: center;
	font-weight: bold;
}

.services{
	margin-left: 5%;
	margin-right: 5%;
	
}

.imagen-welcome{
	height: 200px;
}


p{
	color: #333;
}

.textogallery{
	color: #fff;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.copy{
	color: #ff9f06;
}

.imagen-galeria{
	height: 25%;
}

.gallery{
	background-color: #2750d0;
}

.clientes-div{
	display: flex;
	justify-content: center;
}